{% load static %}


<!DOCTYPE html>

<html lang="eng">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'nova_app/styles.css' %}" rel="stylesheet">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div style="width: 1000px;">
            <div style="display:inline-block; 
                        width:200px;
                        height:100vh;
                        background-color: #dcece7;
                        text-align: center;">
                <div class="header-tickets">
                    <img class="header-tickets" src="{% static 'nova_app/ticket.png' %}">
                </div>
                <div>
                    <a id="link" href="{% url 'nova_app:index' %}" class="btn btn-info">Home</a>
                </div>
                <div>
                    <a href="{% url 'nova_app:create' %}" class="btn btn-info">Create New Event</a>
                </div>
                <div>
                    <a id="events" href="{% url 'nova_app:show_all' %}" class="btn btn-info">Show Events</a>
                </div>
            </div>
            
            <div style="display:inline-block; 
                        width:80vw; 
                        position:absolute;
                        text-align: center;
                        margin-top: 100px">
                {% block body %}
                {{ date }}
                {% endblock %}
            </div>
        </div>
    </body>
</html>