{% extends "nova_app/layout.html" %}
{% load static %}

{% block title%}
    Show all events
{% endblock %}

{% block body %}
        <table id="events-view" class="container-tickets">
            
        </table>
{% endblock %}

{% block script %}
    <script src="{% static 'nova_app/show_all.js' %}"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
{% endblock %}