{% extends "nova_app/layout.html" %}
{% load static %}

{% block title%}
   Each Event
{% endblock %}

{% block body %}
    <div>
        <span>Token: </span>
        <span id="token">{{token}}</span>
    </div>
    <p id="status"></p>
    <div>
        <button id="redeem" type="submit" disabled="true" class="btn btn-outline-secondary">Redeem</button>
    </div>
    
{% endblock %}

{% block script %}
    <script src="{% static 'nova_app/status.js' %}"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
{% endblock %}